
@{
    ViewBag.Title = "Fish";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Fish</h2>

<p>
    Check out all these interesting fishies courtesy of YouTube.

    <iframe width="560" height="315" src="https://www.youtube.com/embed/D235f-7xrCA" frameborder="0" allowfullscreen></iframe>

</p>

